<div class="signup-form">
    <form action="/examples/actions/confirmation.php" method="post">
        <h2 class="text-center">Register</h2>   
        <div class="form-group">
            <input type="text" id="username-signup" class="form-control" placeholder="Username" required="required">
        </div>    
        <div class="form-group">
            <input type="text" id="email-signup" class="form-control" placeholder="Email" required="required">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" required="required" id="password-signup">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Register</button>
        </div>
      
    </form>
    <p class="text-center"><a href="/login">Login</a></p>
</div>


<script src="/javascript/register.js"></script>